<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{layouts/layoutAdmin :: layout(~{::main})}">
<body>
    <main role="main" id="content">
        <div class="fr-container fr-mt-4w fr-mb-4w">
            
            <div class="fr-grid-row fr-grid-row--middle fr-mb-3w">
                <div class="fr-col-12 fr-col-md-8">
                    <h1>Gestion des utilisateurs</h1>
                </div>
                <div class="fr-col-12 fr-col-md-4" style="display: flex; justify-content: flex-end;">
                    <a href="/admin/users/new" class="fr-btn fr-icon-add-line fr-btn--icon-left">Ajouter un utilisateur</a>
                </div>
            </div>

            <div class="fr-grid-row">
                <div class="fr-col-12">
                    <form action="/admin/users" method="get" class="fr-mb-4w fr-p-3w" style="background-color: var(--background-alt-grey);">
                        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--bottom">
                            
                            <div class="fr-col-12 fr-col-md-4">
                                <div class="fr-input-group">
                                    <label class="fr-label" for="keyword">Recherche (Pseudo / Email)</label>
                                    <input class="fr-input" type="text" id="keyword" name="keyword" th:value="${selectedKeyword}">
                                </div>
                            </div>
                            
                            <div class="fr-col-12 fr-col-md-3">
                                <div class="fr-select-group">
                                    <label class="fr-label" for="role">Rôle</label>
                                    <select class="fr-select" id="role" name="role">
                                        <option value="">Tous les rôles</option>
                                        <option th:each="r : ${roles}" 
                                                th:value="${r}" 
                                                th:text="${r.name()}" 
                                                th:selected="${r == selectedRole}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="fr-col-12 fr-col-md-3">
                                <div class="fr-select-group">
                                    <label class="fr-label" for="isActive">Statut du compte</label>
                                    <select class="fr-select" id="isActive" name="isActive">
                                        <option value="">Tous</option>
                                        <option value="true" th:selected="${selectedIsActive == true}">Actif</option>
                                        <option value="false" th:selected="${selectedIsActive == false}">Inactif</option>
                                    </select>
                                </div>
                            </div>

                            <div class="fr-col-12 fr-col-md-2">
                                <button class="fr-btn fr-icon-search-line fr-btn--icon-left" type="submit" style="width: 100%;">
                                    Filtrer
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="fr-table fr-table--no-caption">
                        <table style="min-width: 100%; display: table; width: 100%;">
                            <caption>Liste des utilisateurs</caption>
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nom d'utilisateur</th>
                                    <th>Mail</th>
                                    <th>Rôle actuel</th>
                                    <th>Actif</th>
                                    <th style="text-align: right;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="user : ${listUsers}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.email}"></td>
                                    
                                    <td>
                                        <span th:classappend="${user.role.name() == 'super_admin' ? 'fr-badge--error' : (user.role.name() == 'administrator' ? 'fr-badge--warning' : (user.role.name() == 'moderator' ? 'fr-badge--success' : 'fr-badge--info'))}" class="fr-badge" th:text="${user.role.name()}"></span>
                                    </td>
                                    
                                    <td>
                                        <span th:if="${user.isActive}" class="fr-badge fr-badge--success fr-badge--no-icon">OUI</span>
                                        <span th:unless="${user.isActive}" class="fr-badge fr-badge--error fr-badge--no-icon">NON</span>
                                    </td>
                                    
                                    <td style="text-align: right;">
                                        <a th:href="@{/admin/users/edit/{id}(id=${user.id})}" class="fr-btn fr-btn--tertiary-no-outline fr-icon-edit-line" title="Modifier"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>