<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<body>

    <footer th:fragment="footer" class="fr-footer" role="contentinfo" id="footer">
        <div class="fr-container">
            <div class="fr-footer__body">
                <div class="fr-footer__brand fr-enlarge-link">
                    <a href="/app/home" title="Retour à l'accueil - (Re)Sources Relationnelles">
                        <p class="fr-logo">
                            Ressources<br>relationnelles
                        </p>
                    </a>
                </div>
                <div class="fr-footer__content">
                    <p class="fr-footer__content-desc">
                        Plateforme citoyenne de partage et de création de ressources relationnelles, développée dans le cadre du projet CESI.
                    </p>
                </div>
            </div>
            <div class="fr-footer__bottom">
                <ul class="fr-footer__bottom-list">
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="/app/cgu">Conditions Générales d'Utilisation (CGU)</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="/app/legalMention">Mentions légales</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="/app/contact">Contact</a>
                    </li>
                </ul>
                <div class="fr-footer__bottom-copy">
                    <p>© 2026 Projet CESI - Tous droits réservés</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>